<!DOCTYPE html>
<html>
  <head>
    <title>microTrx</title>

    <script type="text/javascript">
      document.createElement('video');document.createElement('audio');document.createElement('track');
    </script>

    <style type="text/css">
      .overlay{
      position:fixed;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      }
    </style>

  </head>
  <body>
    <div class="container">
      <div class="overlay">

        <video id="video_player"
                class="video-js vjs-default-skin center-block"
                preload="auto"
                width="100%"
                height="100%"
                data-video-id="<%= video %>">
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>

      </div>

      <!-- Modal -->
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <div class="container">

                <div class="row">
                  <div class="col-xs-12" align="center">
                    <h4>Unlock the Commercial-Free Video: [Title Goes Here]</h4>
                  </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                      <a id="payment-link" href="">
                        <div align="center">
                          <img src="/images/bitcoin.png" height="30" width="30"/> Scan or Click to Unlock
                        </div>
                        <div id="payment-qr-code" align="center"></div>
                      </a>
                      <div id="payment-details" align="center"></div>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <link type='css' rel='stylesheet' href='/stylesheets/bootstrap.min.css' />

    <link href="//vjs.zencdn.net/4.12/video-js.css" rel="stylesheet">
    <script src="//vjs.zencdn.net/4.12/video.js"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/javascripts/jquery-2.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/jquery.qrcode.min.js"></script>
    <script src="/javascripts/embedded.client.video.js"></script>

  </body>
</html>
