var bitcore = require('bitcore');

// Configure the bitcoin network to use - this drives other config
var bitcoinNetwork = bitcore.Networks.testnet;  // change to livenet if in production

// Set default values for livenet
var currentConnectionString = 'mongodb://localhost/microtrxvideo';
var navigationBarColor = '#000000;';
var secureCookies = true;
var microtrxGatewayAddr = "https://www.microtrx.com/";

// Override values if in testnet
if(bitcoinNetwork == bitcore.Networks.testnet){
  currentConnectionString = 'mongodb://localhost/testnet_microtrxvideo';
  navigationBarColor = '#32CD32;';
  secureCookies = false; // should be set to true for SSL only
  microtrxGatewayAddr = "https://testnet.microtrx.com/";
}

exports.NETWORK = bitcoinNetwork;
exports.MONGO_CONNECTION_STRING = currentConnectionString;
exports.NAV_BAR_COLOR = navigationBarColor;
exports.SECURE_COOKIES = secureCookies;
exports.MICROTRX_ADDR = microtrxGatewayAddr;

// Per installation difference
exports.COOKIE_SECRET = ""; // ex: asdfasdlfkjsldfnmnkj87637846782364
exports.PREVIEW_VIDEO_PREFIX_URL = ""; // ex: https://asdfasdf.cloudfront.net/
exports.PAID_VIDEO_PREFIX_URL = ""; // ex: https://asdfasdf.cloudfront.net/
exports.PUBKEY = ""; // ex: xpub67ujJDAmJod4LCTGWBvXy6M47yhgmi1de2uNN6V7qoBptMgttCEUZQbQRwsEnFLTgzb7TvH1D18ZShssKxrvFowrrALv99C81aF9zBB58ym
exports.KEYPAIR_ID = ""; // ex: APK76549ABD89Y7BD66A
